// Текст и отдельные элементы интерфейса (например рамки)
$info: #513438;

// Цвет функциональных элементов дизайна
$accent: #8c8561;

// Цвет фонов функциональных блоков
$filler: #c6bd72;

// Основной цвет фона
$general: #f5f5d2;

// Цвет акцентов дизайна (успешные действия)
$accent-success: #c1d885;
